body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.left, .right {
    box-sizing: border-box;
    padding: 20px;
}
.left {
    flex: 1 1 70%;
    min-width: 300px;
}
.right {
    flex: 1 1 30%;
    min-width: 300px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.symbol {
    color: #6565c5;
    font-size: 0.9em;
}
.bear{
    color: red;
}
.bull{
    color: green;
}
.news {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px 0;
    min-height: 700px;
}
.news h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.news p {
    margin: 0 0 10px;
}
@media (max-width: 768px) {
    .left, .right {
        flex: 1 1 100%;
    }
    .right {
        border-left: none;
        border-top: 1px solid #ddd;
    }
}
